!!!
html
  head
    title AgileSense Make sense of your data
    link(href='/css/reset.css', rel='stylesheet', type='text/css')
    link(href='/css/styles.css', rel='stylesheet', type='text/css')
  body
    h1 AgileSense Make sense of your data
    br
    #content
      != body
    != partial('partials/scripts')