h2 Upload File2
form(id="MyForm", action="http://api2.transloadit.com/assemblies", enctype="multipart/form-data", method="POST")
  input(type="hidden", name="params", value="{&quot;auth&quot;:{&quot;expires&quot;:&quot;2011/10/01 16:53:14+00:00&quot;,&quot;key&quot;:&quot;1580cee65f904f7399ca08a1a844cfab&quot;},&quot;template_id&quot;:&quot;b902f75dba8a4fadb054ab068e705b97&quot;,&quot;redirect_url&quot;:&quot;http://localhost:3000/done&quot;,&quot;notify_url&quot;:&quot;http://localhost:3000/filesready&quot;}")
  input(type="hidden", name="signature", value="0da4ca65b1fdc952ffa54bce2e3384d8132d350a")
  input(type="file", name="my_file")
  br
  input(type="submit", value="Upload")